.Pic {
    height: 150px;
    width: 150px;
    background-color: pink;
    border: black solid 1;
    display: flex;
    justify-content: center;
    align-items: center;
      /* position: relative; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}
