.Pic {
    height: 150px;
    width: 150px;
    background-color: pink;
    border: black solid 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pic > img {
    max-height: 100%;
    max-width: 100%;
}
